@import '../../node_modules/@coreui/coreui/scss/coreui.scss';
@import '../styles/global.scss';



.login{
    background-image:url(../assets/images/bac11.jpg);
   .row{
    width: 50%;
    position: relative;
    right: 100px;
   }
   .card{
    background-color: rgb(139, 206, 191) ;
   }
   .btn1{
    // width: 300px;
    background-color: rgb(199, 21, 133) ;
   }
}

.register{
    background-image:url(../assets/images/bac11.jpg);

    .card{
        background-color: rgb(199, 21, 133) ;
    }
    .btn{
        background-color: rgb(20, 204, 164) ;
        border: 0px;
    }
}